* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body,
p {
    margin: 0;
}

label {
    display: block;
}

button {
    background-color: blue;
    color: white;
    padding: .44rem .6rem;
    border: none;
    border-radius: 3px;
    font-size: .8rem;
    margin-bottom: .5rem;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    border: 1px solid gray;
    padding: 1rem;
    width: 50rem;
    height: 11rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#number-input {
    margin: .5rem .5rem .5rem 0;
    padding: .4rem 0;
    font-size: .8rem;
}

.british_action_container label {
    font-size: .8rem;
    display: inline-block;
    margin-bottom: .5rem;    
}